body {
    background: rgba(0, 0, 0, 0.9);
    margin: 0;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.showcase::after {
    content: '';
    height: 100vh;
    width: 100%;
    background-image: url(../img/showcase.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    transition: all 1000ms;
}

.showcase:hover::after {
    filter: blur(0px);
    -webkit-filter: blur(0px);
}

.content {
    position: absolute;
    z-index: 1;
    left: 50%;
    margin-top: 105px;
    margin-left: -275px;
    width: 600px;
    height: 550px;
    text-align: center;
    transition: all 1000ms;
}

.content .logo {
    height: 180px;
    width: 180px;
}

.content .title {
    font-size: 2.2rem;
    margin-top: 1rem;
    color: #333;
}

.content .text {
    line-height: 1.7;
    margin-top: 1rem;
    color: rgb(61, 60, 60);
    font-weight: bold;
}

.content .platform {
    margin: 30px 0;
}

.content .platform div a {
    color: #333;
    text-decoration: none;
    margin: 10px 20px;
}

.content .arrow {
    margin: 10px;
}

.content .arrow a{
    color: #333;
}

.content .arrow a:hover {
    margin-top: 50px;
    color: #5a5a5a;
}

.container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 2rem 1rem;
}

.container .title {
    width: 600px;
    margin: 10px auto;
    text-align: center;
    font-size: 3rem;
    padding-bottom: 10px;
}

.grid-3 {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.grid-2 {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}

.center {
    text-align: center;
    margin: auto;
}

.bg-light {
    background: #f4f4f4;
    color: #333
}

.bg-dark {
    background: #333;
    color: #f4f4f4
}

.skills {
    padding: 10px;
}

.skills ul {
    list-style-type: none;
    padding: 0;
}

.bar {
    display: block;
    height: 2px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 10px #353b48;
}

.bar span {
    height: 2px;
    float: left;
    background: #333;
}

.html {
    width: 90%;
    animation: html 5s;
}

.css {
    width: 60%;
    animation: css 5s;
}

.js {
    width: 70%;
    animation: js 5s;
}

.java {
    width: 90%;
    animation: java 5s;
}

.python {
    width: 68%;
    animation: python 5s;
}

.php {
    width: 65%;
    animation: php 5s;
}

.swift {
    width: 75%;
    animation: swift 5s;
}

.db {
    width: 85%;
    animation: db 5s;
}

.work img {
    width: 140px;
    height: 140px;
}

.work .platform div {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.work div a {
    color: #fff;
    text-decoration: none;
}

/* Remove Banner */
div a img {
	display: none;
}


@keyframes html {
    0% {
        width: 0%;
    }
    100% {
        width: 90%;
    }
}
@keyframes css {
    0% {
        width: 0%;
    }
    100% {
        width: 60%;
    }
}
@keyframes js {
    0% {
        width: 0%;
    }
    100% {
        width: 70%;
    }
}
@keyframes java {
    0% {
        width: 0%;
    }
    100% {
        width: 90%;
    }
}

@keyframes python {
    0% {
        width: 0%;
    }
    100% {
        width: 68%;
    }
}

@keyframes php {
    0% {
        width: 0%;
    }
    100% {
        width: 65%;
    }
}

@keyframes swift {
    0% {
        width: 0%;
    }
    100% {
        width: 75%;
    }
}

@keyframes db {
    0% {
        width: 0%;
    }
    100% {
        width: 85%;
    }
}

footer {
    padding: 1.2rem;
}

footer p {
    margin: 0;
}

/* Small Screens */
@media(max-width: 560px) {
    .showcase::after {
        height: 70vh;
    }

    .content {
        top: 5%;
        margin-top: 5px;
        width: 350px;
        margin-left: -160px;
    }

    .content .logo {
        height: 140px;
        width: 140px;
    }

    .content .title, .content .arrow {
        display: none;
    }

    .content .text {
        color: #fff;
    }

    .container .title {
        width: 350px;
    }

    .grid-3, .grid-2 {
        grid-template-columns: 1fr;
    }

    .grid-3.center {
        border: 0;
    }

    .services div, .work {
        border-bottom: #333 dashed 1px;
        padding: 2.2rem 1rem;
    }
    
}

/* Landscape */
@media(max-height: 500px) {
    
    .content .text {
        display: none;
    }

    .content {
        top: 0;
    }

    .platform {
        top: -50px;
    }
}
