body {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 48px;
  font-weight: 490;
}

header {
  -webkit-clip-path: polygon(0 70%, 0 0, 100% 0, 100% 100%);
  clip-path: polygon(0 70%, 0 0, 100% 0, 100% 100%);
  width: 100%;
  background-color: #1a1a1a;

  nav {
    &.bg-dark {
      background-color: #1a1a1a !important;
    }
    ul {
      li {
        a {
          cursor: pointer;
        }
      }
    }
  }

  // nav {
  //   ul {
  //     display: flex;
  //     justify-content: flex-end;
  //     list-style-type: none;
  //     padding: 40px 0;
  //     li {
  //       text-transform: uppercase;
  //       margin-left: 20px;
  //       border-bottom: 3px solid #1a1a1a;
  //       transition: border-bottom 0.3s;
  //       cursor: pointer;
  //       a {
  //         color: white;
  //         text-decoration: none;
  //       }
  //     }

  //     li:hover,
  //     .active {
  //       border-bottom: 3px solid white;
  //       color: whitesmoke;
  //     }
  //   }
  // }

  .introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    p {
      text-transform: uppercase;
      color: white;
      &.greed {
        font-size: 24px;
      }
      &.intro-name {
        font-size: 48px;
      }
      &.designation {
        font-size: 30px;
      }
    }
  }

  .media {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
  }
}

#about {
  margin-top: -70px;
  p {
    padding: 35px 0;
  }
}

#portfolio {
  .image-container {
    height: 140px;
  }
  hr {
    display: none;
  }
}

#my-skills {
  .skills-container {
    text-align: center;
    p {
      font-weight: 600;
    }
    .skill-item {
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        position: absolute;
        font-size: 28px;
      }
    }
  }
}

#personal-works {
  .per-work-container {
    display: flex;
    span {
      font-size: 28px;
    }
  }
}

footer {
  background-color: #1a1a1a;
  color: white;
}


@media only screen and (min-width: 1200px) {
  header {
    height: 605px;
  }
}

@media only screen and (max-width: 1200px) {
  header {
    height: 505px;
  }
}

@media only screen and (max-width: 768px) {
  p, h2 {
    text-align: center;
  }

  header {
    -webkit-clip-path: none;
    clip-path: none;
    height: inherit;
    padding-bottom: 20px;
  }

  #about {
    margin-top: 20px;
  }

  #portfolio {
    hr {
      display: block;
      margin: 50px 0;
    }
  }
}