<header #home>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#menuBar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="menuBar">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" 
          *ngFor="let menu of menuItems" [class]="currentMenu === menu ? 'active' : ''">
          <a class="nav-link text-uppercase" (click)="setMenu(menu)">{{ menu }}</a></li>
        </ul>
      </div>
    </nav>
    <div class="row">
      <div class="col-md-8">
        <div class="introduction">
          <p class="greed">Hey there !</p>
          <p class="intro-name">I am Ajit Kumar Baral</p>
          <p class="designation">Software Engineer</p>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <img src="/assets/photo.png" alt="ajit-kumar-baral-photo-png" width="100%"/>
        <div class="media">
          <a target="_blank" href="https://github.com/ajitkbaral"
            ><img src="/assets/github.png" alt="ajit-kumar-baral-github-url"
          /></a>
          <a target="_blank" href="https://www.linkedin.com/in/ajitkbaral/"
            ><img src="/assets/linkedin.png" alt="ajit-kumar-baral-linkedin-url"
          /></a>
          <a target="_blank" href="https://www.facebook.com/ajitkbaral"
            ><img src="/assets/facebook.png" alt="ajit-kumar-baral-facebook-url"
          /></a>
          <a target="_blank" href="https://www.instagram.com/ajitkbaral/"
            ><img
              src="/assets/instagram.png"
              alt="ajit-kumar-baral-instagram-url"
          /></a>
        </div>
      </div>
    </div>
  </div>
</header>

<section id="about" #about>
  <div class="container">
    <h2 class="text-uppercase">About me</h2>
    <p>
      I am a <b>full-stack developer</b> specialized in <b>frontend</b> and <b>backend</b> development for complex scalable web application. I also specialized in create <b>mobile</b> applications for both <b>Android</b> and <b>iOS</b> devices. 
    </p>
  </div>
</section>
<hr />
<section id="portfolio" #portfolio>
  <div class="container mt-5">
    <h2 class="text-uppercase">Portfolio</h2>
    <h5 class="text-center text-uppercase"><b>Work Place</b></h5>
    <div class="text-center p-5">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let workPlace of workPlaces; index as i">
          <div class="image-container">
            <img [src]="'/assets/' + workPlace.imageName + '.png'" />
          </div>
          <p class="pt-3 text-center"><b>{{ workPlace.organizationName }}</b></p>
          <p class="text-center">{{ workPlace.designation }}</p>
          <hr *ngIf="i !== workPlaces.length - 1"/>
        </div>
      </div>
    </div>
    <hr />
    <h5 class="text-center text-uppercase mt-5"><b>Freelance</b></h5>
    <div class="text-center p-5">
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <div class="image-container">
            <img
              src="/assets/nepal_govt_logo.png"
              alt="nepal-government-logo"
            />
          </div>
          <p class="pt-3 text-center"><b>Hamro Geruwa</b></p>
          <p class="text-center">Geruwa Municipality</p>
          <hr />
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="image-container">
            <img
              src="/assets/kvda_logo.png"
              alt="kathmandu-valley-development-authority-logo"
            />
          </div>
          <p class="pt-3 text-center"><b>KVDA</b></p>
          <p class="text-center">Kathmandu Valley Development Authority</p>
        </div>
      </div>
    </div>
  </div>
</section>
<hr />
<section id="my-skills" #mySkills>
  <div class="container mt-5 mb-5">
    <h2 class="text-uppercase">Skills</h2>
    <div class="skills-container mt-4 mb-4">
      <div class="row">
        <div class="col-4 col-sm-3 col-md-3" *ngFor="let skill of skills">
          <div class="skill-item">
            <span>{{ skill.percent }}%</span>
            <easy-pie-chart
              [percent]="skill.percent"
              [options]="{ barColor: '#000' }"
            ></easy-pie-chart>
          </div>
          <p>{{ skill.name }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
<hr />
<section id="personal-works" #personalWork>
  <div class="container mt-5 mb-5">
    <h2 class="text-uppercase">Personal Works</h2>
    <div *ngFor="let work of personalWorks; index as i">
      <div class="row mt-4 mb-4">
        <div class="col-md-8">
          <div class="per-work-container mt-3">
            <img src="/assets/{{ work.logoName }}" [alt]="work.logoName">
            <div class="ml-2">
              <span>{{ work.title }}</span>
              <p>{{ work.type }}</p>
            </div>
          </div>
          <p class="mt-3">{{ work.description }}</p>
        </div>
        <div class="col-md-4 text-center">
          <img src="/assets/{{ work.imageName }}" [alt]="work.imageName" width="100%">
        </div>
      </div>
      <hr *ngIf="i !== personalWorks.length - 1">
    </div>
  </div>
</section>
<hr />
<section id="contact" #contact>
  <div class="container mt-5 mb-5">
    <h2 class="text-uppercase">Contact</h2>
    <div class="alert alert-success" role="alert" *ngIf="messageSent">
      Your message has been sent! I will contact you soon. Thank you.
    </div>
    <div class="form-container p-3">
        <p>If you want to contact me, send me a message. I will contact you soon.</p>
        <form [formGroup]="messageFormGroup" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" aria-describedby="firstNameHelp"
                  placeholder="First Name" formControlName="firstName">
                <small id="firstNameHelp" class="form-text text-muted">Please enter your first name</small>
                <small class="form-text text-danger" *ngIf="messageFormGroup.get('firstName').hasError('required') && messageFormGroup.get('firstName').touched">This field is required</small>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <div class="form-group">
                  <input type="text" class="form-control" aria-describedby="lastNameHelp" placeholder="Last Name" formControlName="lastName">
                  <small id="lastNameHelp" class="form-text text-muted">Please enter your last name</small>
                  <small class="form-text text-danger" *ngIf="messageFormGroup.get('lastName').hasError('required') && messageFormGroup.get('lastName').touched">This field is required</small>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" formControlName="email">
                <small id="emailHelp" class="form-text text-muted">Please enter your email address</small>
                <small class="form-text text-danger" *ngIf="messageFormGroup.get('email').hasError('required') && messageFormGroup.get('email').touched">This field is required</small>
                <small class="form-text text-danger" *ngIf="messageFormGroup.get('email').hasError('email') && messageFormGroup.get('email').touched">Invalid email format.</small>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <textarea class="form-control" rows="5" placeholder="Message" formControlName="message"></textarea>
                <small class="form-text text-danger" *ngIf="messageFormGroup.get('message').hasError('required') && messageFormGroup.get('message').touched">This field is required</small>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-dark pl-5 pr-5 mt-3">Send</button>
          </div>
        </form>
    </div>
  </div>
</section>
<footer class="p-3">
  <div class="d-flex justify-content-center">
    <span>Ajit Kumar Baral &copy; 2019</span>
  </div>
</footer>
